<p>Reply</p>
<div id="reply-box">
    <div *ngFor="let comment of comments" [ngClass]="{'comment-container':true,'creator-comment-container':isCommentcreator(comment)}">
        <div class="comment-name">{{comment.creatorName}}</div>
        <div [ngClass]="{'comment':true,'creator-comment':(comment)}">{{comment.comment}}</div>
    </div>

</div>
<div id="reply-action-bar">
    <button (click)="onSendClick(commentInput)"
     mat-flat-button color="warn" > <mat-icon>send</mat-icon> </button>
    <input #commentInput  placeholder="Comment...." >
    

</div>