
<div id="nav-bar">
    <div id="nav-bar-content">
        <div id="nav-bar-left">
            <div style="font-size: 1.2em; color: aliceblue;position: fixed;" class="nav-bar-items">socialAPP</div> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <div><a style="color: white;text-decoration: none;position: relative" routerLink="/postfeed">POSTS</a> </div>
        </div>
        <div id="nav-bar-right"  >
            <div  *ngIf="!logeedIn()" (click)="onLoginClick()" class="nav-bar-items ">Login</div>
            <div style="position: fixed;font-size: .8em;margin-right: 5em;" *ngIf="logeedIn()&& userHasProfile"  class="nav-bar-items msg">Hello, {{getUserName()}}</div>
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
            <div style="position: relative;" *ngIf="logeedIn()" (click)="onLogoutClick()" class="nav-bar-items">LogeOut</div>
            <!-- <button mat-flat-button color="warn" (click)="showsweetalert()">troaster</button> -->
            
           
           
        </div>

    </div>

</div>
<div style="margin-top:6% ;">

</div>

<router-outlet></router-outlet>


<app-profile [show]="logeedIn() && !userHasProfile"></app-profile>

